@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Oswald, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --black: #222222;
  --white: #f2f2f2;
  --grey: #949494;
  --darkGrey: #3f3f3f;
  --orange: #ff816c;
  --pink: #ff4765;
}
